<!DOCTYPE html>
<html lang="en">
<!-- TYLER MONDRAGON -->
<!-- NEWWWWWWWWWWWWWWWWWWWW -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="static/styles.css"> -->
    <title>Quotes!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotes/main.css' %}" media="screen" title="no title" charset="utf-8">
</head>

<body>

    <header>
        <h1>Hello Friends</h1>
        <h2>Register Now!</h2>
        <h3>..or Log In</h3>
    </header>

    <div id="wrapper">
        {# for error in errors #}
        <h2 id="response">{{error}}</h2>
        {# endfor #}

        <div class="signIn">
            <h4>Sign in!</h4>
            <form action="/process" method="POST">
                {% csrf_token %}
                <div id="forms">
                    Email:
                    <input type="text" name="email" id="email"> Password:
                    <input type="password" name="password" id="password">
                    <input id="check" type="submit" name="submit" value="submit">
                </div>
            </form>
        </div>

        <div class="register">
            <h4>Register Now!</h4>
            <form action="/adder" method="POST">
                {% csrf_token %}
                <div id="register">
                    Full Name:
                    <input type="text" name="nName" id="nName"> Email:
                    <input type="text" name="eEmail" id="eEmail"> Create Password:
                    <input type="password" name="cPassword" id="cPassword"> Re-enter Password:
                    <input type="password" name="conPassword" id="conPassword">
                    <input type="date" name="DOB" value="{{m.dob|date:" d/m/Y "}}" required=True>
                    <input id="check" type="submit" name="submit" value="submit">
                </div>
            </form>
        </div>
    </div>

</body>

</html>